@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.nanum{
    font-family: 'Noto Sans KR', sans-serif;
}
  
.headerMargin{
  margin-top: 55px;
}

.headerImg{
  width: 40px;
  height: 40px; 
  border-radius: 70%;
  overflow: hidden;
} 


.headerImg>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#alarmButton>img{
  margin-right: 15px;
}

.headerOpacity{
  background-color: rgba(255, 255, 255, 0.4) !important;
}


.headerImg::after {
  content: none;
}