/* 폰트 */
@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');


/* 게시글 옵션 숨기기 */
.hide {
   display: none;
}

.nanum{
    font-family: 'Poor Story', cursive;
}

.noPostSign:hover{
	color:gray;
	cursor: pointer;
}


/* 말풍선 상자  */
.triangle-isosceles {
   position: relative;
   width: 60%;
   bottom: 120px;
   padding: 15px;
   margin: 1em 0 3em;
   color: #000;
   background: #f3961c;
   /* default background for browsers without gradient support */
   /* css3 */
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
   background: -moz-linear-gradient(#f9d835, #f3961c);
   background: -o-linear-gradient(#f9d835, #f3961c);
   background: linear-gradient(#f9d835, #f3961c);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}


/* creates triangle */
.triangle-isosceles:after {
   content: "";
   position: absolute;
   bottom: -15px;
   /* value = - border-top-width - border-bottom-width */
   left: 8px;
   /* controls horizontal position */
   border-width: 15px 15px 0;
   /* vary these values to change the angle of the vertex */
   border-style: solid;
   border-color: #f3961c transparent;
   /* reduce the damage in FF3.0 */
   display: block;
   width: 0;
}

    p {
	   margin-bottom: 0;
		}
		
		a:hover {
		   color: #0d0d0d;
		   text-decoration: none;
		}
		
		ul {
		   list-style: none;
		   padding-left: 20%;
		}
		
		body {
		  background-color: rgb(221, 233, 218);
		}
		textarea {
		   border: none;
		   overflow: auto;
		   outline: none;
		
		   -webkit-box-shadow: none;
		   -moz-box-shadow: none;
		   box-shadow: none;
		
		   resize: none;
		}
		
		textarea,
		textarea.form-control,
		button,
		button.form-control{
		   border-radius: 0px;
		}
		textarea,
		textarea.form-control,
		select,
		select.form-control {
		  border-radius: 0px !important;
		}
		
		 .navbar {
		   border-width: 2px;
		   border-style: solid;
		   border-radius: 0px;
		 }
		 
		 #postLyMenu li>ul {
		   /* navi 후손 중 li 태그의 자손(서브메뉴) 스타일 지정*/
		
		   /* 서브메뉴가 content위에 표시될 수 있도록 position 지정 */
		   position: absolute;
		
		   /* 서브메뉴의 크기를 메인메뉴와 동일하게 지정 */
		   width: 100%;
		
		   /* 서브메뉴 불렛 제거  */
		   list-style-type: none;
		
		   /* 서브메뉴 여백제거 */
		   margin: 0;
		   padding: 0;
		
		   /* 서브메뉴 배경색 지정 */
		   background-color: lightgreen;
		
		   /* 서브메뉴를 투명하게 설정 */
		   opacity: 0;
		}
		
		
		pre {
		   padding: 10px;
		   overflow: auto;
		   white-space: pre-wrap;
		}



#searchArea {
   position: relative;
   opacity: 1;
   z-index: 1;
}

#searchWrap {
   position: relative;
   opacity: 1;
   z-index: 2;
}


#devideArea>div {
   background-color: white;
}



#searchBtn {
   width: 8%;
   float: left;
   padding: 0;
   padding-top: 5px;
   border: 2px black solid;
   border-left: 0 white;
}

#searchBox {
   width: 92%;
   float: left;
   padding-left: 5%;
   /* border: 0; */
   border-right: 0;
}

#postArea {
   padding: 0px;
}

.box111 {
   border: 1px solid black;
   width: 100%;
   margin-bottom: 3%;
}

#profileNameArea {
   width: 65%;
}

#searchArea {
   margin-bottom: 3%;
}

#inputPostArea {
   width: 100%;
   height: 200px;

}

#writePostBtn {
   float: right;
   width: 15%;
   display: inline;

}

#writePostOption {
   width: 85%;
   display: inline;
}

#writePostArea {
   width: 100%;
   height: 100%;
}

#writeCommentAreaStyle {
   width: 100%;
   height: 100%;
}

/* div{
   overflow:hidden;
   height:auto;
} */



.writeOption{
   width: 60%; 
   height: 60%;
	position: relative;
   left: 7px; 
   top: 8px;
}

.writeOptionArea{
   display: inline-block; 
   width: 7%; 
   margin-bottom: 0px; 
   height: 100%;

}


/* 이미지 shaking */

.shake:hover {
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.7s;

   /* When the animation is finished, start again */
   animation-iteration-count: infinite;
}

@keyframes shake {
   0% {
      transform: translate(1px, 1px) rotate(0deg);
   }

   10% {
      transform: translate(-1px, -2px) rotate(-1deg);
   }

   20% {
      transform: translate(-1px, 0px) rotate(1deg);
   }

   30% {
      transform: translate(1px, 2px) rotate(0deg);
   }

   40% {
      transform: translate(1px, -1px) rotate(1deg);
   }

   50% {
      transform: translate(-1px, 2px) rotate(-1deg);
   }

   60% {
      transform: translate(-1px, 1px) rotate(0deg);
   }

   70% {
      transform: translate(1px, 1px) rotate(-1deg);
   }

   80% {
      transform: translate(-1px, -1px) rotate(1deg);
   }

   90% {
      transform: translate(1px, 2px) rotate(0deg);
   }

   100% {
      transform: translate(1px, -2px) rotate(-1deg);
   }
}

/* 이미지 shaking */







/* 말풍선 숨기고 보이기 */
.arrow_box {
   display: none;
   position: absolute;
   bottom: 50px;
   width: 65px;
   padding: 8px;
   left: 0;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   background: #333;
   color: #fff;
   font-size: 14px;
   font-family: 'Poor Story', cursive;
}

.arrow_box:after {
   content: " ";
   position: absolute;
   right: 28px;
   bottom: -15px;
   border-top: 15px solid #333;
   border-right: 15px solid transparent;
   border-left: 15px solid transparent;
   border-bottom: none;
}

img:hover+p.arrow_box {
   display: block;
}

.postCountView>div {
   position: relative;
   display: inline-block;
}

.writeOption {
   display: block;
   cursor: pointer;
}

.btn:focus {
   box-shadow: none;
 }
  
/* 말풍선 숨기고 보이기 */

 
 .closeBtn {
 width : 5px;
 height : 5px;
 }
 			/* 스케치 */
 	 #canvas {
        border: 1px solid black;
      }

      .jb_table {
        display: table;
      }

      .drawing {
        border-radius: 10px;
        display: table-row;
      }

      #draw {
        display: table-cell;
        vertical-align: top;
      }

      .drawColor{
          width:32px;
          height: 32px;
          margin-left: 10px;
      }
      
		.drawColor:hover{
         cursor: pointer;
      }
      
      #title{
      	width : 250px;
      }
      
      /* 스케치 */
      
       .voteModal {
			display: none;
			position: absolute;
			top: 30px;
			width: 200px;
			height: 550px;
			z-index: 1;
		}
      
       .mapModal {
			display: none;
			position: absolute;
			top: 30px;
			width: 200px;
			height: 600px;
			z-index: 1;
		}
      
      