<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/common.css">
        <title>Wassup, Seoul Lounge</title>
        
    </head>
    <style>
        .loungeHeader{
            border: 1px solid black;
            width: 100%;
            height: 400px;
            position: relative;
        }
        .loungeBack{
            position: relative;
        }
        .loungeBack::after{
            content : "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('img/골목4.jpg');
            background-size: cover;
            width: 100%;
            min-height: 100%;
            opacity : 0.6;
            z-index: -1;
            background-repeat: no-repeat;
        }

        .headerOpacity{
            background-color: rgba(255, 255, 255, 0.4) !important;
        }

        .streetBtn{
            background-color: rgba(100, 255, 255, 0.2);
        }

        #createStreet{
          position: absolute;
          bottom: 10px;
          right: 20px;
        }

        .btn-custom{
          background-color: rgba(100, 255, 255, 0.5) !important;
          color: black;
        }



    </style>
    <body class="nanum">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top headerOpacity">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="검색할 골목 키워드">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
              </ul>
              <a class="navbar-brand" href="#" style="color: black;">Taehun</a>
              <div id="headerImg">
                <img src="img/골목.jpg">
              </div>
            </div>
        </nav>
        <div class="container-fluid loungeBack">
            <div class="row">
                <div class="col-md-12">
                    <div class="loungeHeader headerMargin nanum text-center">
                      <br><br><br><br><br><br><br><h1><strong>Wassup, Seoul</strong></h1>
                      <div id="createStreet">
                        <button type="button" class="btn btn-primary btn-custom">골목 개설</button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group streetBtn">
                        <a href="#" class="list-group-item list-group-item-action disabled">
                          지역구 선택
                        </a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">강서구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">양천구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">구로구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">영등포구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">금천구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">동작구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">관악구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">서초구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">강남구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">송파구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">강동구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">광진구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">중랑구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">노원구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">도봉구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">성동구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">동대문구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">성북구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">강북구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">성동구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">중구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">종로구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">용산구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">서대문구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">은평구</a>
                        <a href="#" class="list-group-item list-group-item-action streetBtn">마포구</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">

                        <div class="col-lg-3 col-md-4 mb-4">
                          <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                              <h4 class="card-title">
                                <a href="#">골목 이름</a>
                              </h4>
                              <h5>$24.99</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                          </div>
                        </div>
              
                        <div class="col-lg-3 col-md-4 mb-4">
                          <div class="card border-0 shadow">
                            <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                              <h5 class="card-title mb-0">골목 이름</h5>
                              <div class="card-text text-black-50">#키워드#키워드</div>
                            </div>
                          </div>
                        </div>
              
                        <div class="col-lg-3 col-md-4 mb-4">
                          <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                              <h4 class="card-title">
                                <a href="#">Project One</a>
                              </h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                            </div>
                          </div>
                        </div>
              
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>