<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/common.css">
  <title>Wassup, Test</title>
  <style>
  </style>
</head>

<body class="nanum">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#home">강남</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile">강북</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="list-group streetBtn tab-pane fade active show" id="home">
          <a href="#" class="list-group-item list-group-item-action streetBtn">강남구</a>
          <a href="#" class="list-group-item list-group-item-action streetBtn">강동구</a>
          <a href="#" class="list-group-item list-group-item-action streetBtn">강북구</a>
          <a href="#" class="list-group-item list-group-item-action streetBtn">강서구</a>
          <a href="#" class="list-group-item list-group-item-action streetBtn">구로구</a>
        </div>
        <div class="tab-pane fade" id="profile">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore
            velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
            photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo
            nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      asdfasdf
    </div>
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>