<html>
  <head>
    <title>Chobo painter</title>
    <style>
      #canvas {
        border: 1px solid black;
      }

      .jb_table {
        display: table;
      }

      .drawing {
        border-radius: 10px;
        display: table-row;
      }

      #draw {
        display: table-cell;
        vertical-align: top;
      }

      .drawColor{
          width:32px;
          height: 32px;
          margin-left: 10px;
      }


    </style>
    
  </head>

  <body>
    <div class="jb_table">
      <div class="row drawing">
        <span class="cell">
          <div>
            <canvas id="canvas" width="400" height="500"></canvas>
          </div>
        </span>
        <span class="cell" id="draw">
            <div>
                <div class="jb_table">
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/red.png" class="drawColor" onclick="selectColor('red')" />
                    </span>
                    
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/orange.png" class="drawColor" onclick="selectColor('orange')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/yellow.png" class="drawColor" onclick="selectColor('yellow')" />
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/green.png" class="drawColor" onclick="selectColor('green')"/>
                    </span>
                  </div>
    
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/blue.png" class="drawColor" onclick="selectColor('blue')" />
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">  
                      <img src="img/lightblue.png" class="drawColor" onclick="selectColor('lightblue')" />
                    </span>
                  </div>
    
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/brown.png" class="drawColor" onclick="selectColor('brown')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/lightgreen.png" class="drawColor" onclick="selectColor('lightgreen')"/>
                    </span>
                  </div>
    
    
                  <div class="row drawing">
                    <span class="cell" id="draw">           
                      <img src="img/pink.png" class="drawColor" onclick="selectColor('pink')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/purple.png" class="drawColor" onclick="selectColor('purple')" />
                    </span>
                  </div>
    
    
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/gray.png" class="drawColor" onclick="selectColor('gray')" />
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/lightgray.png" class="drawColor" onclick="selectColor('lightgray')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">   
                      <img src="img/white.png" class="drawColor" onclick="selectColor('white')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/pencil.png" class="drawColor"  onclick="selectTool('pencil')" style="margin-bottom: 5px;"/>
                    </span>
                  </div> 
                </div>
              </div>
           <div>
            <a id="saveImage" download="image.png">
                <INPUT type="button" value="Save" onClick="saveImage()" />
            </a>
            </div>
            <div>
                <INPUT type="button" value="Clear" onClick="initPage()" /> 
            </div>
           
        </span>
      </div>
    </div>
    <script src="painter.js"></script>
    <script src="drawengine.js"></script>
  </body>
</html>