<html>
  <head>
    <title>Chobo painter</title>
    <style>
      #canvas {
        border: 1px solid black;
      }

      .jb_table {
        display: table;
      }

      .drawing {
        border-radius: 10px;
        display: table-row;
      }

      #draw {
        display: table-cell;
        vertical-align: top;
      }

      .drawColor{
          width:32px;
          height: 32px;
          margin-left: 10px;
      }

      .drawColor:hover{
         cursor: pointer;
      }
      #title{
        width: 200px;
      }


    </style>
     <script language="JavaScript">
      // Date: 2019.04.24

      var textareaList = ["history"];

      function clearText(idOfTextArea) {
        document.getElementById(idOfTextArea).value = "";
      }

      function SaveAsTxt() {
        var fileName = document.getElementById("title").value;
        if (fileName.length == 0) {
          fileName = "image";
        }
        fileName += ".txt";

        var preData = 'version: V0.617a1\n';
        var postData =  preData + document.getElementById("history").value;

        var link = document.createElement("a");
        link.setAttribute("download", fileName);
        link.setAttribute(
          "href",
          "data:" +
            "application/[txt]" +
            ";charset=utf-8," +
            encodeURIComponent(postData)
        );
        link.click();
      }

      function SaveAsJson() {
        console.log("SaveAsJson");
        var fileName = document.getElementById("title").value;
        if (fileName.length == 0) {
          fileName = "imsge";
        }

        fileName += ".json";

        var preData = {'version':'V0.617a1'};
        textareaList.forEach(function(e) {
          preData[e] = document.getElementById(e).value;
        });

        var jsonData = JSON.stringify(preData);

        var link = document.createElement("a");
        var file = new Blob([jsonData], { type: "text/plain" });
        link.href = URL.createObjectURL(file);
        link.download = fileName;
        link.click();
      }

      function isJsonFile(filename) {
        var ridx = filename.lastIndexOf(".");
        var extension = filename.substring(ridx + 1);

        console.log(extension);

        if (extension.length != 4 || extension.toLowerCase() != "json") {
          return false;
        }
        return true;
      }

      function isTextFile(filename) {
        var ridx = filename.lastIndexOf(".");
        var extension = filename.substring(ridx + 1);

        console.log(extension);

        if (extension.length != 3 || extension.toLowerCase() != "txt") {
          return false;
        }
        return true;
      }


      function loadFile() {
        var loadFile = document.getElementById("load_filename");
        var file = loadFile.files[0];
          
        if (!file) {
          return;
        }

        var fileName = document.getElementById("load_filename").value;
        var ridx = fileName.lastIndexOf("\\");

        fileName = fileName.substring(ridx + 1);

        if (isJsonFile(fileName)) {
          LoadJson(file, fileName);
        } else if(isTextFile(fileName)) {
          LoadText(file, fileName);
        } 
      }

      function LoadJson(file, fileName) {
        document.getElementById("title").value = fileName;

        var reader = new FileReader();
        reader.onload = function(e) {
          var contents = e.target.result;
          displayLoadJsonData(contents);
        };
        reader.readAsText(file);
      }

      function displayLoadJsonData(contents) {
        var noteData = JSON.parse(contents);

        var version = noteData['version'];
        console.log(version);
        document.getElementById('history').value = noteData['history'];
        reDrawCanvas();
      }

      function LoadText(file, fileName) {
        document.getElementById("title").value = fileName;

        var reader = new FileReader();
        reader.onload = function(e) {
          var contents = e.target.result;
          displayLoadTextData(contents);
        };
        reader.readAsText(file);
      }

      function displayLoadTextData(contents) {
        var noteData = contents.split('\n');
        var history = "";
         
        noteData.forEach(function (e){
          if (e[0] != 'v') {
            history += e + "\n";
          }
        }); 
        document.getElementById('history').value = history;
        reDrawCanvas();
      }

    </script>
  </head>

  <body>
    <div class="jb_table">
      <div class="row drawing">
        <span class="cell">
          <div>
            <canvas id="canvas" width="400" height="500"></canvas>
          </div>
        </span>
        <span class="cell" id="draw">
            <div>
                <div class="jb_table">
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/red.png" class="drawColor" onclick="selectColor('red')" />
                    </span>
                    
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/orange.png" class="drawColor" onclick="selectColor('orange')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/yellow.png" class="drawColor" onclick="selectColor('yellow')" />
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/green.png" class="drawColor" onclick="selectColor('green')"/>
                    </span>
                  </div>
    
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/blue.png" class="drawColor" onclick="selectColor('blue')" />
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">  
                      <img src="img/lightblue.png" class="drawColor" onclick="selectColor('lightblue')" />
                    </span>
                  </div>
    
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/brown.png" class="drawColor" onclick="selectColor('brown')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/lightgreen.png" class="drawColor" onclick="selectColor('lightgreen')"/>
                    </span>
                  </div>
    
    
                  <div class="row drawing">
                    <span class="cell" id="draw">           
                      <img src="img/pink.png" class="drawColor" onclick="selectColor('pink')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/purple.png" class="drawColor" onclick="selectColor('purple')" />
                    </span>
                  </div>
    
    
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/gray.png" class="drawColor" onclick="selectColor('gray')" />
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/lightgray.png" class="drawColor" onclick="selectColor('lightgray')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">   
                      <img src="img/white.png" class="drawColor" onclick="selectColor('white')"/>
                    </span>
                  </div>
                  <div class="row drawing">
                    <span class="cell" id="draw">
                      <img src="img/pencil.png" class="drawColor"  onclick="selectTool('pencil')" style="margin-bottom: 5px;"/>
                    </span>
                  </div> 
                </div>
              </div>
           <div>
            
            <div>
              <textarea id="history" cols="40" rows="37" style="display: none;"></textarea>
            </div>
            
            </div>
          
           
        </span>
      </div>
    </div>
    <div>Title <input id="title" size="15" /></div>
    <a id="saveImage" download="image.png" style=>
      <INPUT type="button" value="Save" onClick="saveImage()" />
  </a>
  <div>
    <INPUT type="button" value="Clear" onClick="initPage()" /> 
</div>
    <script src="painter.js"></script>
    <script src="drawengine.js"></script>
  </body>
</html>