<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>mypage</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="css/common.css" type="text/css">
        <style>@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');
        div{margin-top: 5px;}
        </style>
    </head>
    <body>
        <!-- 컨텐츠 -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>

                <!-- 실제 콘텐츠 내용 시작-->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <h2 class="nanum">회원정보 수정하기</h2>
                            </div>
                        </div>
                        <div class="col-md-9">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">닉네임 변경</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">나이 변경</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">성별 변경</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">전화번호 변경</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">비밀번호 변경</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">관심분야 변경</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">프로필사진 변경</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1" style="font-weight: bold;font-size: 35px;">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="font-weight: bold;font-size: 35px;">Email</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-control-plaintext" value="email@example.com">
                        </div>
                    </div>
                </div>
                <!-- 실제 콘텐츠 내용 끝 -->

                <div class="col-md-2"></div>
            </div>
        </div>
        <!-- 컨텐츠 -->

         
           

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    </body>
</html>