<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 1. 마이바티스 설정과 관련된 기본 세팅 선언 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 2. 별칭 작성 부분 -->
	<typeAliases>
		<!-- 
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member"/>
		-->
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Street" alias="Street"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.StreetJoin" alias="StreetJoin"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Vote" alias="Vote"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Keyword" alias="Keyword"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Divide" alias="Divide"/>
		<typeAlias type="com.kh.wassupSeoul.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.wassupSeoul.hobby.model.vo.Hobby" alias="Hobby"/>
		<typeAlias type="com.kh.wassupSeoul.hobby.model.vo.MemberHobby" alias="MemberHobby"/>
		<typeAlias type="com.kh.wassupSeoul.member.model.vo.ProfileStreet" alias="ProfileStreet"/>
		<typeAlias type="com.kh.wassupSeoul.friends.model.vo.Relationship" alias="Relationship"/>
		<typeAlias type="com.kh.wassupSeoul.friends.model.vo.ChatRoom" alias="ChatRoom"/>
		<typeAlias type="com.kh.wassupSeoul.friends.model.vo.MSG" alias="MSG"/>
		<typeAlias type="com.kh.wassupSeoul.square.model.vo.Alarm" alias="Alarm"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Calendar" alias="Calendar"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Bfile" alias="Bfile"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.wassupSeoul.street.model.vo.Dutch" alias="Dutch"/>
		<!-- 미현 bfile 추가 -->
	</typeAliases> 
	
	<!-- mapper 파일 등록 부분 -->
	<mappers>
		<!-- 
		<mapper resource="/mappers/member-mapper.xml"/>
		 -->
		<mapper resource="/mappers/street-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/friends-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
	</mappers>
</configuration>
