<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="Relationship" id="RelationshipResultSet">
		<id property="myNum" column="MY_NO"/>
		<id property="yourNum" column="YOUR_NO"/>
		<result property="requestStatus" column="REQUEST_STATUS"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
   		<result property="memberEmail" column="MEMBER_EMAIL"/>
  		<result property="memberPwd" column="MEMBER_PWD"/>
  		<result property="memberNm" column="MEMBER_NM"/>
  		<result property="memberNickname" column="MEMBER_NICKNAME"/>
  		<result property="memberPhone" column="MEMBER_PHONE"/>
  		<result property="memberGender" column="MEMBER_GENDER"/>
  		<result property="memberAge" column="MEMBER_AGE"/>
  		<result property="memberProfileUrl" column="MEMBER_PROFILE_URL"/>
  		<result property="memberGrade" column="MEMBER_GRADE"/>
  		<result property="memberEnrollDt" column="MEMBER_ENROLL_DT"/>
  		<result property="memberStatus" column="MEMBER_STATUS"/>
	</resultMap>
	
	<resultMap type="Street" id="streetResultSet">
		<id property="streetNo" column="STREET_NO"/>		
		<result property="streetNm" column="STREET_NM"/>
		<result property="streetIntro" column="STREET_INTRO"/>
		<result property="streetStatus" column="STREET_STATUS"/>
		<result property="streetMaxMember" column="STREET_MAX_MEMBER"/> 
		<result property="streetPoint" column="STREET_POINT"/>
		<result property="imgNo" column="IMG_NO"/>
		<result property="districtNo" column="DISTRICT_NO"/>
		<result property="streetPublic" column="STREET_PUBLIC"/>
		<result property="imgUrl" column="IMG_URL"/>
		<result property="badgeUrl" column="BADGE_URL"/>
	</resultMap>
	
	<resultMap type="Hobby" id="hobbyResultSet">
		<id property="hobbyNo" column="HOBBY_NO"/>
		<result property="hobbyName" column="HOBBY_NM"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="hobbyCount" column="HOBBY_COUNT"/>
	</resultMap>
	
	<resultMap type="Report" id="reportResultSet">
		<id property="reportNo" column="REPORT_NO"/> 
		<result property="meetingStartDate" column="MEETING_START_DT"/>
		<result property="meetingEndDate" column="MEETING_END_DT"/>
		<result property="meetingPlace" column="MEETING_PLACE"/>
		<result property="meetingMember" column="MEETING_MEMBER"/>
		<result property="reportContent" column="REPORT_CONTENT"/>
		<result property="streetNo" column="STREET_NO"/>
		<result property="meetingImgUrl" column="MEETING_IMG_URL"/>
		<result property="streetNm" column="STREET_NM"/>
	</resultMap>
	
	
	<!-- 전체 회원 목록 조회 -->
	<select id="selectMemberList" resultMap="memberResultSet">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NM, MEMBER_NICKNAME, 
			MEMBER_PHONE, MEMBER_GENDER, MEMBER_AGE, MEMBER_PROFILE_URL,
			MEMBER_GRADE, MEMBER_ENROLL_DT, MEMBER_STATUS
		FROM MEMBER
		WHERE MEMBER_GRADE = 'G' AND MEMBER_STATUS = 'Y'
	</select>


	<!-- 골목 목록 조회 -->
	<select id="selectStreetList" resultMap="streetResultSet">
		SELECT * FROM STREET
		WHERE STREET_STATUS = 'Y'	
	</select> 

	<!-- 전체 관심사 목록 조회 -->
	<select id="selectHobbyList" resultMap="hobbyResultSet">
		SELECT H.HOBBY_NO, H.HOBBY_NM, COUNT(MH.HOBBY_NO) HOBBY_COUNT 
		FROM HOBBY H, MEMBER_HOBBY MH
		WHERE H.HOBBY_NO = MH.HOBBY_NO(+)
		GROUP BY H.HOBBY_NO, H.HOBBY_NM
		ORDER BY H.HOBBY_NO
	</select>

	<!-- 활동 보고서 목록 조회 -->
	<select id="selectReportList" resultMap="reportResultSet">
		SELECT STREET_NM, REPORT_NO, MEETING_START_DT, 
			MEETING_END_DT, MEETING_PLACE, MEETING_MEMBER, 
		REPORT_CONTENT, R.STREET_NO, MEETING_IMG_URL
		FROM STREET S, REPORT R
		WHERE S.STREET_NO = R.STREET_NO AND S.STREET_STATUS = 'Y'
	</select>


	<!-- 회원 강퇴 -->
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER 
		SET MEMBER_STATUS = 'N'
		WHERE MEMBER_NO = #{deleteMemberNo}
	</update>
 
 	<!-- 골목 폐쇄 -->
 	<update id="deleteStreet" parameterType="_int">
 		UPDATE STREET
 		SET STREET_STATUS = 'N'
 		WHERE STREET_NO = #{deleteStreetNo}
 	</update>
 	
 	<!-- 관심사 삭제 -->
 	<delete id="deleteHobby" parameterType="_int">
 		DELETE FROM HOBBY
 		WHERE HOBBY_NO = #{deleteHobbyNo} 		 
 	</delete>
 	
 	
 	<!-- 활동보고서 상세보기 -->
 	<select id="selectReport" parameterType="_int" resultMap="reportResultSet">
 		SELECT STREET_NM, REPORT_NO, MEETING_START_DT, 
			MEETING_END_DT, MEETING_PLACE, MEETING_MEMBER, 
		REPORT_CONTENT, R.STREET_NO, MEETING_IMG_URL
		FROM STREET S, REPORT R
		WHERE S.STREET_NO = R.STREET_NO 
			AND S.STREET_STATUS = 'Y' 
			AND REPORT_NO = #{selectReportNo} 
 	</select>
 	
 	<!-- 회원 상세보기 -->
 	<select id="selectMember" parameterType="_int" resultMap="memberResultSet">
 		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NM, MEMBER_NICKNAME, 
			MEMBER_PHONE, MEMBER_GENDER, MEMBER_AGE, MEMBER_PROFILE_URL,
			MEMBER_GRADE, MEMBER_ENROLL_DT, MEMBER_STATUS
		FROM MEMBER
		WHERE MEMBER_NO = #{selectMemberNo}
 	</select>
 

</mapper>
 