<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
   		<result property="memberEmail" column="MEMBER_EMAIL"/>
  		<result property="memberPwd" column="MEMBER_PWD"/>
  		<result property="memberNm" column="MEMBER_NM"/>
  		<result property="memberNickname" column="MEMBER_NICKNAME"/>
  		<result property="memberPhone" column="MEMBER_PHONE"/>
  		<result property="memberGender" column="MEMBER_GENDER"/>
  		<result property="memberAge" column="MEMBER_AGE"/>
  		<result property="memberProfileUrl" column="MEMBER_PROFILE_URL"/>
  		<result property="memberGrade" column="MEMBER_GRADE"/>
  		<result property="memberEnrollDt" column="MEMBER_ENROLL_DT"/>
  		<result property="memberStatus" column="MEMBER_STATUS"/>
	</resultMap>
	
	<resultMap type="Hobby" id="hobbyResultSet">
		<id property="hobbyNo" column="HOBBY_NO"/>
		<result property="hobbyName" column="HOBBY_NM"/>
	</resultMap>
	
	<resultMap type="ProfileStreet" id="profileStreetResultSet">	
		<id property="streetNo" column="STREET_NO"/>
		<result property="streetNm" column="STREET_NM"/>
		<result property="streetIntro" column="STREET_INTRO"/>
		<result property="streetMaxMember" column="STREET_MAX_MEMBER"/>
		<result property="streetPoint" column="STREET_POINT"/>
		<result property="imgNo" column="IMG_NO"/>
		<result property="districtNo" column="DISTRICT_NO"/>
		<result property="imgUrl" column="IMG_URL"/>
		<result property="memberNm" column="MEMBER_NM"/>
		<result property="districtNm" column="DISTRICT_NM"/>
		<result property="citizenGrade" column="CITIZEN_GRADE"/>		
	</resultMap>
	
	<resultMap type="Keyword" id="keywordResultSet">
		<id property="keywordNo" column="KEYWORD_NO" />
		<result property="keywordContent" column="KEYWORD_CONTENT" />
		<result property="streetNo" column="STREET_NO" />
	</resultMap>
	
	<resultMap type="MemberHobby" id="memberHobbyResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="hobbyNo" column="HOBBY_NO"/>
	</resultMap>
	
	<!-- 회원가입용 -->
	<insert id="signUp" parameterType="Member">
  		INSERT INTO MEMBER
  		VALUES(SEQ_MEMBER.NEXTVAL, #{memberEmail}, #{memberPwd}, 
  				#{memberNm}, #{memberNickname}, #{memberPhone},
  				#{memberGender}, #{memberAge}, #{memberProfileUrl},	DEFAULT, DEFAULT, DEFAULT)
  	</insert>
  	
  	<!-- 로그인용 -->
  	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
  		SELECT * FROM MEMBER
  		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_STATUS = 'Y'
  	</select>
	
	<!-- 이메일 찾기용 -->
	<select id="findEmail" parameterType="Member" resultType="string">
		SELECT MEMBER_EMAIL 
		FROM MEMBER
		WHERE MEMBER_NM=#{memberNm} AND MEMBER_PHONE=#{memberPhone}
	</select>
	
	<!-- 비밀번호 찾기용 -->
	<select id="findPassword" parameterType="Member" resultType="string">
		SELECT MEMBER_PWD
		FROM MEMBER
		WHERE MEMBER_NM=#{memberNm} AND MEMBER_EMAIL=#{memberEmail}
		AND MEMBER_PHONE=#{memberPhone}
	</select>
	
	
	<!-- 이메일 중복 확인용 -->
	<select id="emailDupcheck" parameterType="string" resultType="_int">
		SELECT COUNT (*)
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 닉네임 중복 확인용 -->
	<select id="nickNameDupcheck" parameterType="string" resultType="_int">
		SELECT COUNT (*)
		FROM MEMBER
		WHERE MEMBER_NICKNAME = #{memberNickname}
	</select>
	
	<!-- 비밀번호 난수로 업데이트 하는 용도 -->
	<update id="makeRandomPwd" parameterType="map">
		UPDATE MEMBER SET 
		MEMBER_PWD = #{newPwd}
		WHERE MEMBER_EMAIL = #{email}
	</update>
	
	<!-- 로그인 회원 관심사 조회 -->
  	<select id="selectHobby" parameterType="_int" resultMap="hobbyResultSet">
  		SELECT * FROM HOBBY
  		JOIN MEMBER_HOBBY USING(HOBBY_NO)
  		WHERE MEMBER_NO = #{memberNo}
  	</select>
  	
  	<!-- 내골목 조회 -->
	<select id="selectProfileStreet" parameterType="_int" resultMap="profileStreetResultSet">
		SELECT STREET_NO, STREET_NM, STREET_INTRO, STREET_MAX_MEMBER, DISTRICT_NM, IMG_URL, CITIZEN_GRADE FROM STREET
		JOIN DISTRICT USING(DISTRICT_NO)
		JOIN STREET_JOIN USING(STREET_NO)
		JOIN STREET_IMG USING(IMG_NO)
		WHERE MEMBER_NO = #{memberNo} AND STREET_STATUS = 'Y' AND CITIZEN_STATUS='Y'
	</select>
	
	<!-- 내골목 골목대장 조회 -->
	<select id="selectStreetMaster" parameterType="_int" resultType="string">
		SELECT MEMBER_NM FROM STREET
		JOIN STREET_JOIN USING(STREET_NO)
		JOIN MEMBER USING(MEMBER_NO)
		WHERE STREET_NO = #{streetNo} AND CITIZEN_GRADE='M' AND STREET_STATUS = 'Y'
	</select>
	
	<!-- 내골목 키워드 조회 -->
	<select id="selectMyKeyword" parameterType="_int" resultMap="keywordResultSet">
		SELECT STREET_NO,KEYWORD_CONTENT FROM STREET
		JOIN KEYWORD USING(STREET_NO)
		WHERE STREET_NO = #{streetNo} 
	</select>
	
	<!-- 현재 비밀번호 조회 -->
	<select id="selectMemberPwd" parameterType="_int" resultType="string">
		SELECT MEMBER_PWD FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 검색된 관심사 조회 -->
	<select id="searchHobby" parameterType="string" resultMap="hobbyResultSet">
		<bind name="sv" value="'%' + _parameter + '%'" />
		SELECT * FROM HOBBY
		WHERE HOBBY_NM LIKE #{sv}
	</select>
	
	<!-- 검색된 관심사 지정 회원수 조회 -->
	<select id="selectHobbyCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		JOIN MEMBER_HOBBY USING(MEMBER_NO)
		JOIN HOBBY USING(HOBBY_NO)
		WHERE HOBBY_NM = #{hobbyName}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET MEMBER_PWD = #{memberPwd},
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_PHONE = #{memberPhone},
		MEMBER_PROFILE_URL = #{memberProfileUrl}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 직접 입력한 관심사 중복여부 조회 -->
	<select id="hobbyDupCheck" parameterType="string" resultMap="hobbyResultSet">
		SELECT * FROM HOBBY
		WHERE HOBBY_NM = #{hobbyName}
	</select>
	
	<!-- 기존 관심사 제거 -->
	<delete id="deleteMemberHobby">
		DELETE FROM MEMBER_HOBBY
		WHERE MEMBER_NO = #{memberNo} 
	</delete>
	
	<!-- 변경된 관심사 추가 -->
	<insert id="updateMemberHobby" parameterType="MemberHobby">
		INSERT INTO MEMBER_HOBBY VALUES
		(#{memberNo}, #{hobbyNo})
	</insert>
	
	<!-- 해당 관심사 번호 조회 -->
	<select id="getInsertHobbyNo" parameterType="string" resultType="_int">
		SELECT HOBBY_NO FROM HOBBY 
		WHERE HOBBY_NM = #{hobbyName} 
	</select>
	
	<!-- 관심사 추가 -->
	<insert id="insertHobby" parameterType="string">
		INSERT INTO HOBBY 
		VALUES (SEQ_HOBBY.NEXTVAL,#{hobbyName})
	</insert>
	

	
	
	
	
	
</mapper>
