<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="streetMapper">
	
	<resultMap type="Street" id="streetResultSet">
		<id property="streetNo" column="STREET_NO"/>
		
		<result property="streetNm" column="STREET_NM"/>
		<result property="streetIntro" column="STREET_INTRO"/>
		<result property="streetStatus" column="STREET_STATUS"/>
		<result property="streetMaxMember" column="STREET_MAX_MAMBER"/>
		<result property="streetPoint" column="STREET_POINT"/>
		<result property="imgNo" column="IMG_NO"/>
		<result property="districtNo" column="DISTRICT_NO"/>
	</resultMap>
	
	
	<!--  Board -->
	<resultMap type="Board" id="boardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardWriter" column="MEMBER_NICKNAME"/>
		<result property="boardWriteDt" column="BOARD_WRITE_DT"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
		<result property="boardLevel" column="BOARD_LEVEL"/>
		<result property="streetNo" column="STREET_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="typeNo" column="TYPE_NO"/>
	</resultMap>
		
	
	<resultMap type="Keyword" id="keywordResultSet">
		<id property="keywordNo" column="KEYWORD_NO"/>
		
		<result property="keywordContent" column="KEYWORD_CONTENT"/>
		<result property="streetNo" column="STREET_NO"/>
	</resultMap>
	
	<!-- 전체 골목 수 조회 -->
	<select id="getListCount" parameterType="map" resultType="_int">
		SELECT COUNT(DISTINCT(STREET_NO))
		FROM V_STREET
		<where>
			<if test="districtNo != null">
				DISTRICT_NO = #{districtNo}
			</if>
			<if test="keyword != null">
				KEYWORD_CONTENT LIKE '%' || #{keyword} || '%'
				OR STREET_NM LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
	<!-- 골목 리스트 조회 -->
	<select id="selectList" parameterType="map" resultMap="streetResultSet">
		SELECT STREET_NO, STREET_NM, STREET_MAX_MEMBER, STREET_POINT,
        		IMG_URL, STREET_STATUS, MEMBER_COUNT
		FROM V_STREET
		<where>
			<if test="districtNo != null">
				DISTRICT_NO = #{districtNo}
			</if>
			<if test="keyword != null">
				KEYWORD_CONTENT LIKE '%' || #{keyword} || '%'
				OR STREET_NM LIKE '%' || #{keyword} || '%'
			</if>
		</where>
		GROUP BY STREET_NO, STREET_NM, STREET_MAX_MEMBER, STREET_POINT,
				IMG_URL, STREET_STATUS, MEMBER_COUNT
		<choose>
			<when test="streetSort == 0">
				ORDER BY STREET_POINT DESC
			</when>
			<when test="streetSort == 1">
				ORDER BY MEMBER_COUNT DESC
			</when>
			<when test="streetSort == 2">
				ORDER BY MEMBER_COUNT ASC
			</when>
			<otherwise>
				ORDER BY STREET_NO DESC
			</otherwise>
		</choose>
		
	</select>
	
	<!-- 골목 키워드 조회 -->
	<select id="selectKeywordList" parameterType="list" resultMap="keywordResultSet">
		SELECT *
		FROM KEYWORD
		WHERE STREET_NO IN
		<foreach collection="list" open="(" separator="," close=")" item="street" >
			#{street.streetNo}
		</foreach>
	</select>
	
	<!-- 골목조회  -->
	<select id="selectStreet" parameterType="_int" resultMap="streetResultSet">
		SELECT *
		FROM V_STREET
		WHERE STREET_NO = #{streetNo}
	</select>
	
	<!-- 골목 게시글 조회 -->  	 
  	 <select id="selectBoardList" parameterType="_int" resultMap="boardResultSet">
  	 	 SELECT * FROM V_BOARD
  	 	 WHERE STREET_NO = #{streetNo} 
 		 AND BOARD_LEVEL = 0 AND BOARD_STATUS = 'Y'
 		 ORDER BY BOARD_NO
  	 	 	
  	 </select>
  	
  	<!-- 게시글 등록용 -->
  	 <insert id="insertBoard" parameterType="Board">
	
		  INSERT INTO BOARD
		  VALUES(SEQ_BOARD.NEXTVAL, 
		  #{boardContent}, 
		  SYSDATE, 
		  'Y', 
		  0 ,
		  #{streetNo}, 
		  #{memberNo}, 
		  #{typeNo})
		  
	</insert>
	
	<!-- 좋아요조회  -->
	<select id="likeCheck" parameterType="Member" resultType="string">
	
		SELECT THUMB_STATUS
		FROM THUMB
		WHERE 
		MEMBER_NO = #{memberNo} AND
		BOARD_NO = #{memberAge}
		
	</select>
	
	<!-- 좋아요 기록용  -->
	 <insert id="recordLike" parameterType="Member">
	
		  INSERT INTO THUMB
		  VALUES(SEQ_THUMB.NEXTVAL, 
		  'Y', 
		  #{memberNo}, 
		  #{memberAge})
		  
	</insert>
	
	<!-- 좋아요 업데이트 -->
	<update id="updateLike"  parameterType="Member" >
	
		UPDATE THUMB
		
		SET
		
		THUMB_STATUS = #{memberNm}

		WHERE MEMBER_NO=#{memberNo}
	
	</update>
  	 
  	<!-- 좋아요, 댓글 카운트용  --> 
  	<select id="checkLikeReplyNum" parameterType="_int" resultType="list">
	
		SELECT THUMB_STATUS
		FROM THUMB
		WHERE 
		MEMBER_NO = #{memberNo} AND
		BOARD_NO = #{memberAge}
		
	</select>
  	 
	
</mapper>
