<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="streetMapper">
	
	<resultMap type="Street" id="streetResultSet">
		<id property="streetNo" column="STREET_NO"/>
		
		<result property="streetNm" column="STREET_NM"/>
		<result property="streetIntro" column="STREET_INTRO"/>
		<result property="streetStatus" column="STREET_STATUS"/>
		<result property="streetMaxMember" column="STREET_MAX_MAMBER"/>
		<result property="streetPoint" column="STREET_POINT"/>
		<result property="imgNo" column="IMG_NO"/>
		<result property="districtNo" column="DISTRICT_NO"/>
	</resultMap>
	
	
	<!--  Board -->
	<resultMap type="Board" id="boardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardWriteDt" column="BOARD_WRITE_DT"/>
		<result property="boardStatus" column="BOARD_STATUS"/>
		<result property="boardLevel" column="BOARD_LEVEL"/>
		<result property="streetNo" column="STREET_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="typeNo" column="TYPE_NO"/>
	</resultMap>
		
	
	<resultMap type="Keyword" id="keywordResultSet">
		<id property="keywordNo" column="KEYWORD_NO"/>
		
		<result property="keywordContent" column="KEYWORD_CONTENT"/>
		<result property="streetNo" column="STREET_NO"/>
	</resultMap>
	
	<!-- 전체 골목 수 조회 -->
	<select id="getListCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM V_STREET
		<where>
			<if test="districtNo != null">
				DISTRICT_NO = #{districtNo}
			</if>
		</where>
	</select>
	
	<!-- 골목 리스트 조회 -->
	<select id="selectList" resultMap="streetResultSet">
		SELECT *
		FROM V_STREET
		<choose>
			<when test="streetSort == 0">
				ORDER BY STREET_POINT DESC
			</when>
			<when test="streetSort == 1">
				
			</when>
		</choose>
	</select>
	
	<!-- 골목 키워드 조회 -->
	<select id="selectKeywordList" parameterType="list" resultMap="keywordResultSet">
		SELECT *
		FROM KEYWORD
		WHERE STREET_NO IN
		<foreach collection="list" open="(" separator="," close=")" item="street" >
			#{street.streetNo}
		</foreach>
	</select>
	
	<!-- 골목조회  -->
	<select id="selectStreet" parameterType="_int" resultMap="streetResultSet">
		SELECT *
		FROM V_STREET
		WHERE STREET_NO = #{streetNo}
	</select>
	
	  	 
  	 <select id="selectBoardList" parameterType="_int" resultMap="boardResultSet">
  	 	 SELECT * FROM BOARD
  	 	 WHERE STREET_NO = #{streetNo} 
 		 AND BOARD_LEVEL = 0 AND BOARD_STATUS = 'Y'
  	 	 	
  	 </select>
  	 
  	 
  	
  	 <insert id="insertBoard" parameterType="Board">
	
		  INSERT INTO BOARD
		  VALUES(SEQ_BOARD.NEXTVAL, 
		  #{boardContent}, 
		  SYSDATE, 
		  'Y', 
		  0 ,
		  #{streetNo}, 
		  #{memberNo}, 
		  #{typeNo})
	
	</insert>
  	 
  	 
	
</mapper>
