@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');

.nanum{
    font-family: 'Poor Story', cursive;
}
  
.headerMargin{
  margin-top: 55px;
}

#headerImg>img{
  width: 40px;
  height: 40px;
  border-radius: 20px 20px;
}